certifi==2023.7.22
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
cryptography==44.0.1
filelock==3.6.0
huggingface-hub==0.5.1
idna==3.3
joblib==1.2.0
nltk==3.7
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pdfminer==20191125
pdfminer.six==20211012
Pillow==10.0.1
pycparser==2.21
pycryptodome==3.11.0
pyparsing==3.0.8
PyPDF2==1.26.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.8.0
sentence-transformers==2.2.0
sentencepiece==0.1.96
six==1.16.0
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==2.8.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.36.0
typing-extensions==4.2.0
urllib3==2.6.3
